*{
    box-sizing: border-box;
}

header{
    background-color: rgba(255, 229, 72, 255);
       
}

h1{
    font-family: 'Fredoka One', cursive;
    color: red;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 20px;
}

header img{
    width: 100%;
    position: absolute;
    padding-top:-1px;
    
}



#main{
    top: 50px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 120%;
}
form{
    display: inline-block;
    background-color:  rgba(255, 229, 72, 255);
    margin-top: 100px;
    margin-left: 100px;
    width: 330px;
    height: 300px;
    border-radius: 30px;
}
form fieldset label{
    top: 50px;
    position: relative;
    padding-left: 80px;
    font-size: 20px;
    color: red;
    font-family: 'Fredoka One', cursive;
}
form fieldset label:last-child{
    top: 90px;
    position: absolute;
    padding-left: 80px;
    font-size: 20px;
    color: red;
    font-family: 'Fredoka One', cursive;
    padding-top: 100px;
    
}


form fieldset input{
    top: 50px;
    position: relative;
    margin-left: 60px;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;
}



form fieldset select{
    top: 70px;
    position: relative;
    margin-left: 60px;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
}

form fieldset input:last-child{
    background-color: red;
    color: wheat;
    font-family: 'Fredoka One', cursive;
}

form select{
    top: 50px;
    position: relative;
    margin-left: 60px;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}



table{
    background-color: rgba(255, 229, 72, 255) ;
    top: -300px;
    position: relative;
    margin-left: 700px;
    width: 100px;
    /* border-radius: 10px; */
    
}
table th{

    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid red;
    font-size: 20px;
    text-align: center;

}
table td{
    
    border: 1px solid red;
    padding-bottom: 350px;
    background-color: rgb(238, 236, 238);
}
table img{
    width: 90px;
    height: 90px;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;

}
table p{
    color: black;
    font-family: 'Fredoka One', cursive;
    margin-top:20px;
    margin-left: 20px;
}
footer{
    background-color: rgba(255, 229, 72, 255);
    height: 50px;
    margin-top: -300px;
    padding-top:70px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: red;
}

footer p{
    margin-top: -30px;
}